aiogram>=3.3,<4
python-dotenv>=1.0
python-docx>=1.1
requests>=2.31
pdfplumber>=0.11
numpy>=1.23

# .doc -> .docx без офисов
aspose-words>=24.6

# только для Windows (MS Word COM, опционально)
pywin32; sys_platform == "win32"
